* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;

}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo .logo-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-weight: 700;
    padding: 10px;
    margin-right: 5px;


}

.logo .logo-text {
    font-size: 0px;
    font-weight: 500;
    color: #fff;
}


nav .navlinks {
    list-style-type: none;
    letter-spacing: 1px;
}

nav .navlinks li {
    display: inline-block;
    text-decoration: underline white;
}

nav .navlinks li a {
    color:#d5d5d5;
    margin-right: 2.5rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #cf23cf;
    border-radius: 150px;
    border: double 4px transparent;
    background-image: linear-gradient(white, white), linear-gradient(90deg, #cf23cf, #fd1d1d, #fcb045);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.profile-pic img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.profile-pic img:hover {
    transform: scale(1.2);
}

.about-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.about-text h1 {
    color:#d5d5d5;
    font-family: 'Manrope', sans-serif;
}

.about-text .name{
    background: linear-gradient(to right, #f32170, #ff6b08,
            #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Manrope', sans-serif;
    font-size: 2.4rem;
    
    
}

.about-text .input{
    background: linear-gradient(to right, #f32170, #ff6b08,
            #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.6rem;
   
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color:#d5d5d5;
    background-color: #333;
    padding: 17px 25px;
    margin: 5px 0;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #d5d5d5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);

}

.btn.active {
    border-radius: 100rem;
    padding: 1rem;
    padding: 17px 25px;
    color:#d5d5d5;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #ff6b08, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #333 inset;
}

.about-text .social {

    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}

.about-text .social i:hover {
    color: #f32170;
    transform: rotate(358deg);
}

.about-text .social i::before {
    font-size: 20px;
    margin-right: 8px;
    transition: 0.5s;
    background: linear-gradient(#f32170, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transform: rotate(358deg);
}

@media(max-width: 930px) {
    .container .profile-pic {
        width: 140px;
        height: 140px;
    }

    nav .navlinks li {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    @media(max-width:768px) {
        .container .profile-pic {
            width: 100px;
            height: 100px;
        }

        nav .navlinks li {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

        .container {
            flex-direction: column;
            padding-top: 2rem;
        }

        .about-text {
            padding: 40px 0px;

        }

        .btn-group {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
/* --------------About me ---------------- */


.title{
    background: linear-gradient(to right, #f32170, #ff6b08,
    #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
font-size: 2.5rem;
letter-spacing: 0.5px;
}

.section-about{
    display: flex;
    width: 870px;
    justify-content: center;
    flex-direction: column;
    color:#d5d5d5;
    gap:20px;
    
    
}
.section-about-work-item{
  height: 70px;
}
.section-about-work-item-header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.details{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    letter-spacing: 0.5px;
}
.section-about h2{
    font-size: 20px;
    font-weight: 200;
}

.section-about-me p{
    font-size: 18px;
    letter-spacing: 0.5px;
}

.section-about h1{
    
    background: linear-gradient(to right, #f32170, #ff6b08,
    #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
font-size: 2.5rem;
letter-spacing: 0.5px;
    
}
.line-about{
    height: 1px;
    width: 68vw;
    background: linear-gradient(to right, #f32170, #ff6b08,
    #cf23cf, #eedd44);
}












/* --------------Projects ---------------- */

.card-main {
    font-family: 'Manrope', sans-serif;
    margin-top: 32px;
    display: flex;
    gap: 48px;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.project h1 {
    display: flex;
    
    margin-top: 20px;
    font-size: 2.5rem;
letter-spacing: 0.5px;
    background: linear-gradient(to right, #f32170, #ff6b08,
            #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.project span {

    background: linear-gradient(to right, #f32170, #ff6b08,
            #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


.image-project {
    width: 100%;
    height: 300px;
    border-radius: 16px 16px 8px 8px;
}


.card-project {
    display: flex;
    flex-direction: column;
    width: 26%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color:#d5d5d5;
    border-radius: 20px;
    min-height: 500px;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-align: center;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #ff6b08, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #333 inset;

}


.card-project h4 {
    font-size: 20px;
}

.card-project h3 {
    font-size: 16px;
    text-decoration: underline #e5e5e5;
}

.project-shared {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

}

.project-shared>div {
    display: flex;
    gap: 8px;
}

@media(max-width: 930px) {
    .project-shared>div {
        display: flex;
        flex-direction: column;
        width: 30px;
        gap: 1px;
        justify-items: center;
        align-items: center;
    }

    .card-project {
        width: 80%;
    }
}


/* --------------Tech Stack ---------------- */


.titulo h1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 54px;
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #f32170, #ff6b08,
            #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.card {
    gap: 6px;
    padding: 10px;

}

.card p {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color:#d5d5d5;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

/* --------------Contact ---------------- */

.contact {
    background: linear-gradient(to right, #f32170,
            #cf23cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact span {
    background: linear-gradient(to right, #f32170, #ff6b08,
            #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contact-info {
    display: flex;
    width: 100%;
    color:#d5d5d5;

    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 1px;

}


.line {
    height: 1px;
    width: 90vw;
    background: linear-gradient(to right, #f32170, #ff6b08,
    #cf23cf, #eedd44);
}

.footer {
    color:#d5d5d5;
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    font-size: 12px;
    font-weight: 100;
}